*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: white;
   text-decoration: none;
}

body {
   background-color: #1A1D29;
}

/* Nav */
.nav {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 18px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: #1A1D29;
   padding: 20px 0;
}

.navbar {
   --bs-navbar-padding-x: 0;
   --bs-navbar-padding-y: 0;
}

.nav > * {
   cursor: pointer;
}

.nav h1 {
   color: #84A98C;
   font-size: 50px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 700;
}

.nav a,
.nav:hover a {
   text-decoration: none;
   color: #537970;
   font-size: 50px;
   font-family: Tauri;
}

.bg-body-tertiary {
   --bs-bg-opacity: 1;
   background-color: black !important;
}

.container-fluid {
   margin-left: 20px;
   margin-right: 20px;
}

.button {
   color: white;
   border: 2px solid white;
}

.button:hover {
   background-color: #fff;
   color: #000;
}

/* Discover carousel */
.movie-details {
   display: none; 
   position: relative;
   top: 5px; 
   text-align: center;
   background-color: #0e0b14;
   color: white;
   padding: 20px;
   max-width: 100%;
   max-height: 80%;
}

.carousel-item {
   position: top;
   top: 0;
   left: 0;
   width: 100%;
   height: 50vh;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   opacity: 0.9;
   line-height: 28px;
   border-radius: 10px;
}

.carousel-item:hover {
   border: 3px solid white;
}

#carouselExampleAutoplaying {
   width: 90%; 
   margin: 0 auto; 
   margin-bottom: 20px;
}

.carousel-content {
   position: absolute;
   bottom: 0;
   left: 0;
   transform: translate(0, -50%);
   text-align: left;
}

.movieTitle {
   font-size: 55px;
   margin-top: 20px;
   line-height: 60px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-weight: 200;
   color: white;
   -webkit-text-stroke: 1px black;
   text-align: center;
}

.infoContainer {
   position: absolute;
   left: 50%;
   bottom: 20px;
   transform: translateX(-50%);
   text-align: center;
}

.movieInfo{
   margin: 20px 0;
   text-align: center;
   text-transform: uppercase;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.maturityNumber {
   border: 1px solid white;
   padding: 0 5px;
   background-color: #537970;
   opacity: 0.7;
   color: white;
}

.voteAverage {
   padding-left: 5px;
   background-color: #537970;
   opacity: 0.7;
   color: white;
}

.language {
   text-transform: uppercase;
   padding-left: 10px;
   background-color: #537970;
   opacity: 0.7;
   color: white;
} 

.movieOverview {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   margin-bottom: 20px;
   width: 45%;
   color: white;
}

.button-container {
   display: flex; 
   justify-content: center; 
   gap: 20px;
}

.playButton,
.detailsButton {
  padding: 15px 35px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  margin: 0 10px !important;
}

.playButton:hover,
.detailsButton:hover {
  padding: 15px 35px !important;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.playButton {
   background-color: #344D50 !important;
   color: white !important;
}

.playButton:hover {
   background-color: white !important;
   color: #537970 !important;
}

.detailsButton {
   background-color: #344D50 !important;
   color: white !important;
}

.detailsButton:hover {
   background-color: white !important;
   color: #537970 !important;
   padding: 15px 35px !important;
}

/* Buttons section */
.custom-button {
   width: 300px !important;
   height: 100px !important;
   margin: 20px 20px 20px 0;
   border: none;
   border-radius: 20px; 
   background-color: #344D50; 
   color: white;
   font-weight: bold;
   cursor: pointer;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.custom-button:hover {
   background-color: #537970; 
}

.custom-icon {
   font-size: 24px;
}

.button-section {
   display: flex;
   justify-content: center;
   margin-top: 20px;
}

/* Movies and Series Carousel */
#movies-section,
#series-section {
   position: relative;
   margin-left: 20px;
}

.movieCarousel,
.seriesCarousel {
   width: 100%;
   margin-top: 20px;
   display: flex;
   padding-bottom: 20px;
   border-radius: 20px;
}

.movie-info-container,
.series-info-container {
   flex: 0 0 auto;
   margin-right: 20px;
   position: relative;
   overflow: hidden;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
   transition: transform 0.3s, box-shadow 0.3s
}

.movie-info-container:hover,
.series-info-container:hover {
   transform: scale(1.05); 
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6), 0 0 0 4px white; 
   border: 1.5px solid white;
}

.movie-title,
.series-title {
   display: none;
   position: absolute;
   bottom: 70%;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
   color: white;
   font-size: 18px;
   font-weight: bold;
   background-color: rgba(0, 0, 0, 0.7);
}

.movie-description,
.series-description {
   display: none;
   position: absolute;
   bottom: 20%;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
   color: white;
   font-size: 15px;
   background-color: rgba(0, 0, 0, 0.7);
}

.more-link {
   display: none;
   position: absolute;
   bottom: 10%;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
   color: white;
   font-size: 15px;
   background-color: rgba(0, 0, 0, 0.7);
}

.more-link {
   margin-top: 10px; 
}

#movies-carousel,
#series-carousel {
   margin-top: 20px; 
   padding: 0 20px;
   justify-content: center;
}

.carousel {
   overflow-x: hidden;
   position: relative;
}

.carousel button {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   background: transparent;
   color: white;
   border: none;
   cursor: pointer;
   padding: 10px;
   z-index: 1;
}

.movies-carousel-text,
.series-carousel-text {
   text-align: left; 
   margin: 50px 0 0 10px;
   font-size: 25px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-weight: 100; 
}

.prev,
.next {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   background-color: #344D50;
   color: white;
   padding: 10px; 
   font-size: 20px; 
   z-index: 2; 
}

.prev:hover,
.next:hover {
   background-color: #537970;
   color: #fff;
}

.prev {
   left: 10px;
}
.next {
   right: 10px;
}

.series-section .prev {
   left: 10px;
}

.series-section .next {
   right: 10px;
}

/* Search bar */
.searchForm {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   margin-bottom: 50px;
}

.searchBar {
   height: 30px;
   width: 60%;
   margin-right: 0;
   border-radius: 20px 0 0 20px;
   border: 1px solid black;
   font-size: 18px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 400;
   color: #000;
   padding-left: 10px;
}

#btnSearch {
   height: 28px;
   width: 100px;
   margin-left: 0; 
   font-size: 18px;
   font-weight: 400;
   border-radius: 0 20px 20px 0;
   border: 1px solid #344D50;
   background-color: #344D50;
   color:#fff;
   display: flex; 
   justify-content: center; 
   align-items: center; 
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#btnSearch:hover {
   background-color: #537970;
   color: #fff;
   font-size: 15px;
   font-weight: 400;
}

#searchCards{
   justify-content: center;
   margin-bottom: 20px;
}

.card {
   height: 500px !important;
   margin-top: 50px; 
   margin-left: 30px;
   background-color: #000;
   border: 0.2rem solid #fff;
   border-radius: 2rem;
   padding: 0.4em;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.card-img-container {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
}

.card-img-container img {
   max-height: 100%;
   width: 100%;
   object-fit: fill;
}

.card-img-top {
   border-radius: 2rem;
}

.card-title {
   color: white;
   font-size: 20px;
   margin-bottom: 10px;
}

.card-text {
   color: white;
   font-size: 16px;
}

/* Footer */
footer {
   background-color: #0e0b14; 
   color: white;
   padding: 20px;
   text-align: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer a {
   color: white;
   text-decoration: none;
   margin: 0 10px;
   font-size: 14px;
}

footer h2 {
   font-size: 20px; 
   margin-bottom: 20px;
}

.copyrightSection {
   margin-top: 20px ;
   font-size: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
   .nav h1 {
       font-size: 30px;
   }
   #movies-card {
       width: 90%;
       padding: 5% 10%;
   }
   .movie-title,
   .movie-description,
   .series-title,
   .series-description,
   .more-link {
       font-size: 14px;
   }
   .custom-button {
      width: calc(100% - 40px) !important;
      margin: 10px 20px !important;
      display: block; 
  }

}

@media only screen and (min-width: 480px) and (max-width: 768px) {
   .nav h1 {
       font-size: 40px;
   }

   .custom-button {
      width: calc(100% - 40px) !important;
      margin: 10px 20px !important;
      display: block; 
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
   .nav h1 {
       font-size: 45px;
   }
}

@media only screen and (min-width: 1024px) {
   .nav h1 {
       font-size: 50px;
   }
}